<h1>Matthew Jeorrett</h1>
<p>Hi my name is Matthew and I am a student at CodeClan</p>
<h3>The things I like are:</h3>
<ul>
  <li>Coding</li>
  <li>Piano</li>
  <li>Fiddle</li>
  <li>Cycling</li>
  <li>Badminton</li>
  <li>Amateur Dramatics</li>
</ul>
