<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <title>CC W4 D1 Homework</title>
  </head>
  <body>
    <links>
      <span>
        <a href="/">Home</a>
      </span>
      <span>
        <a href="/snake_to_pascal/snake_to_pascal">Snake to Pascal</a>
      </span>
      <span>
        <a href="/address">Address</a>
      </span>
    </link>
    <%= yield %>
  </body>
</html>
